<% layout('layout/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/campgrounds.css">

<button type="button" class="btn btn-light mt-3 new_btn" onclick="location.href='/campgrounds/new'">Add My Own Camping Site</button>


<div class="card_container">
    <% for (let campground of campgrounds) { %>
        <div class="card text-white bg-dark mb-5 col-3">
            <img src="https://source.unsplash.com/collection/483251" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= campground.title %></h5>
              <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores vel aperiam quod inventore deserunt.</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item text-white bg-dark"><%= campground.location %></li>
              <li class="list-group-item text-white bg-dark">$<%= campground.price %> /night</li>
            </ul>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-light stretched-link">More Details</a>
          </div>
    <% } %>
</div>

